html {
    -ms-touch-action: none;
}

body,
canvas,
div {
    display: block;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;

    cursor: default;
    color: #888;
    background-color: #333;

    text-align: center;
    font-family: Helvetica, Verdana, Arial, sans-serif;

    display: flex;
    flex-direction: column;

    /* fix bug: https://github.com/cocos-creator/2d-tasks/issues/791 */
    /* overflow cannot be applied in Cocos2dGameContainer, 
  otherwise child elements will be hidden when Cocos2dGameContainer rotated 90 deg */
    overflow: hidden;
}

#Cocos2dGameContainer {
    position: absolute;
    margin: 0;
    left: 0px;
    top: 0px;

    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

canvas {
    background-color: rgba(0, 0, 0, 0);
}

#splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000 no-repeat center;
    background-size: 45%;
}

.progress-bar {
    position: absolute;
    left: 27.5%;
    top: 80%;
    height: 0px;
    padding: 0px;
    width: 0%;
    border-radius: 0px;
    box-shadow: 0 0px 0px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
    display: block;
    height: 0%;
    border-radius: 0px;
    transition: width 0.4s ease-in-out;
    background-color: #3dc5de;
}

.stripes span {
    background-size: 30px 30px;
    background-image:
        linear-gradient(135deg,
            rgba(255, 255, 255, 0.15) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.15) 50%,
            rgba(255, 255, 255, 0.15) 75%,
            transparent 75%,
            transparent);

    animation: animate-stripes 1s linear infinite;
}

#logo {
    /* background: #fff1f1; */
    width: 34.7vh;
    height: 34.7vh;
    margin-top: 30vh;
}

#gif {
    /* background: #ff0000; */
    width: 6.5vh;
    height: 6.5vh;
    margin-top: 9vh;
}

#blurBg {
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
}

#colorBlock {
    position: absolute;
    inset: 0px;
    margin: auto;
    width: 0%;
    height: 0%;
    background-color: black;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

#GameCanvas {
    inset: 0;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}